# Logs
logs
*.log
pnpm-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# premove PWA stuff
.github/pwa-labeler.yml
*.md
!README.md
!.github/*.md
!.changeset/*.md
!examples/unplugin-pwa-vitepress/*.md
!examples/workbox-types-docs/index.md
!examples/workbox-types-docs/api/index.md

# examples
examples/workbox-cli/custom-sw-inject.js
examples/workbox-cli/classic-sw*.js
examples/workbox-cli/classic-sw*.map
examples/workbox-cli/esm-sw*.js
examples/workbox-cli/esm-sw*.map
examples/workbox-cli/sw*.js
examples/workbox-cli/sw*.map
examples/workbox-cli/workbox.js
examples/workbox-cli/workbox-*.js
examples/workbox-cli/workbox-*.map
examples/workbox-cli/custom-build/workbox-*.js
examples/workbox-cli/custom-build/sw-*.js
examples/workbox-cli/custom-build/*.map

# temp-fixtures
!packages/workbox/build/test/temp-fixtures/DO_NOT_REMOVE.txt
packages/workbox/build/test/temp-fixtures/

# docs
packages/workbox/types/api/
**/.vitepress/cache/
**/.vitepress/dist/
